*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dashed pink; */
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-blue: hsl(246, 80%, 60%);
  --color-dark-blue: hsl(235, 46%, 20%);
  --color-very-dark-blue: hsl(226, 43%, 10%);
  --color-desaturated-blue: hsl(235, 45%, 61%);
  --color-pale-blue: hsl(236, 100%, 87%);

  --color-work--light-red: hsl(15, 100%, 70%);
  --color-play--soft-blue: hsl(195, 74%, 62%);
  --color-study--light-red: hsl(348, 100%, 68%);
  --color-exercise--lime-green: hsl(145, 58%, 55%);
  --color-social--violet: hsl(264, 64%, 52%);
  --color-self-care--soft-orange: hsl(43, 84%, 65%);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--color-very-dark-blue);
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

/* ====== MEDIA STYLING ===== */
div.app-container {
  width: 375px;
  margin: 5.6rem auto 2rem;
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

/* ----- Media Header ----- */
header.time-tracking-user {
  width: 100%;
  background-color: var(--color-dark-blue);
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;

  div.user-intro {
    padding: 3.5rem 0 3.2rem 3.5rem;
    border-radius: 1.5rem;
    background-color: var(--color-blue);

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    img.user-avatar {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      border: 3px solid var(--color-white);
      display: inline-block;
    }

    h1.user-title {
      color: var(--color-white);
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1.4;
      display: inline-block;

      span.smaller-font {
        color: var(--color-pale-blue);
        font-size: 1.5rem;
        font-weight: 400;
        display: block;
      }
    }
  }

  nav.timeframes {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-around;

    button.timeframe {
      color: var(--color-desaturated-blue);
      border: none;
      background: transparent;
      font-size: inherit;
      cursor: pointer;

      &:hover {
        color: var(--color-white);
      }

      &.selected-btn {
        color: var(--color-white);
      }
    }
  }
}

/* ----- Media Main ----- */
main.time-tracking-cards {
  width: 100%;
  /* background-color: var(--color-very-dark-blue); */
  /* border-radius: 1.5rem; */

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  section.tracking-card {
    border-radius: 1.5rem;
    background-repeat: no-repeat;

    &#work {
      background-color: var(--color-work--light-red);
      background-image: url(images/icon-work.svg);
      background-position: 93% -14%;
    }

    &#play {
      background-color: var(--color-play--soft-blue);
      background-image: url(images/icon-play.svg);
      background-position: 92% -6%;
    }

    &#study {
      background-color: var(--color-study--light-red);
      background-image: url(images/icon-study.svg);
      background-position: 93% -10%;
    }

    &#exercise {
      background-color: var(--color-exercise--lime-green);
      background-image: url(images/icon-exercise.svg);
      background-position: 93% -1%;
    }

    &#social {
      background-color: var(--color-social--violet);
      background-image: url(images/icon-social.svg);
      background-position: 93% -25%;
    }

    &#self-care {
      background-color: var(--color-self-care--soft-orange);
      background-image: url(images/icon-self-care.svg);
      background-position: 95% -12%;
    }

    div.card-content {
      height: 12rem;
      margin-top: 3.8rem;
      padding: 2.8rem 2.4rem;
      border-radius: 1.5rem;

      background-color: var(--color-dark-blue);

      header.card-intro {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2.card-title {
          font-size: 1.8rem;
          font-weight: 500;

          color: var(--color-white);
        }
        img.ellipsis-icon {
          width: 21px;
          height: 5px;
        }
      }

      div.timeframes {
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.current-timeframe {
          font-size: 3.2rem;
          font-weight: 300;
          color: var(--color-white);
        }

        footer.previous-timeframe {
          font-size: 1.5rem;
          color: var(--color-desaturated-blue);
        }
      }
    }
  }
}

/* ----- Attribute Footer ----- */
footer.attribution {
  font-size: 1rem;
  color: var(--color-pale-blue);
  text-align: center;

  a {
    color: var(--color-desaturated-blue);
  }
}
